version: '3'
services:
  jenkins_container:
    build:
      context: ./
    restart: always
    image: jenkins/jenkins:lts-jdk11
    ports:
      - 8080:8080
    user: root
    volumes:
      - /home/azure_jenkins/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock